/* Importa fontes de origem externa para usarmos no projeto */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

/* Reseta as configurações de todos os elementos do HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}


/*****************************
**** CONFIGURAÇÕES GERAIS ****
******************************/


/* Define a fonte padrão para títulos */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lora', serif;
}


/* Define o tamanho e fonte para os textos comuns */

p,
a,
li,
span,
label {
    font-size: 1em;
    font-family: 'Adamina', serif;
}


/* Cria um preenchimento (respiro) abaixo dos elementos para que não fiquem muito juntos*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: .5em;
}


/* Configura as seções */

section {
    padding: 60px 0 20px 0;
}


/* Configura a largura e posicionamento do conteúdo dentro da página */

.container {
    width: 85%;
    margin: 0 auto;
}


/***********************************************************
**** CONFIGURAÇÕES PARA A BARRA DE NAVEGAÇÃO NO DESKTOP ****
***********************************************************/


/* Define tamanho, cor de fundo e preenchimentos laterais do cabeçalho */

header {
    height: 10vh;
    background-color: #000;
}


/* Define a cor dos links dentro do cabeçalho */

header a {
    color: #fff;
}


/* Ajusta os conteúdos dentro da tag <nav> */

nav {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Esconde o menu hamburguer para telas maiores que 768px (definido depois na @media) */

nav .menu-hamburguer {
    display: none;
}


/* Ajusta a logo (para a qual eu não tive tempo e nem sei se terei) */

nav .logo {
    width: 50%;
}


/* Define o menu na navegação: altura que ela ocupará dentro do cabeçalho */

nav .menus {
    width: 50%;
}


/* Ajusta os menus HTML5, CSS3 e JavaSccript na barra de navegação*/

nav .menus ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


/* Ajusta os itens de lista para ficarem um ao lado do outro */

nav ul li {
    display: inline;
}


/* Aumenta o preenchendo dos links e consequentemente a área clicável */

nav ul li a {
    padding: 5px;
}


/********************************
*** CONFIGURAÇÕES DE CONTEÚDO ***
********************************/


/* Ajusta a seção de introdução para alinha o texto no centro*/

.introducao {
    text-align: center;
}


/* Ajusta a lista de tags para dividi-las em 8 colunas, não aparecer a bolinha e retirar espaços */

.secao-html5 .html5-lista {
    column-count: 7;
    list-style: none;
}


/* Cria margem entre os tópicos da lista e alinha ao centro */

.secao-html5 .html5-lista .html5-lista-item {
    margin-bottom: 10px;
    text-align: center;
}


/* Cria preenchimento para aumentar a area de clique do link e adiciona borda */

.secao-html5 .html5-lista .html5-lista-item a code {
    padding: 1px 10px;
    border: 1px solid;
    font-size: 1.1em;
}

.secao-html5 .html5-lista .html5-lista-item a {
    padding: 0 10px 3px 10px;
}


/* Modifica as configurações dos tópicos de tags quando o mouse passa por cima */

.secao-html5 .html5-lista .html5-lista-item code:hover {
    background-color: #000;
    color: #fff;
    transition: .5s;
    border: none;
}


/**************
/*** RODAPÉ ***
***************/


/* Define e altura, cor de fundo, cor dos textos, e a disposição dos elementos na tela */

footer {
    height: 10vh;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
}


/* Coloca o texto do rodapé para a direita */

address {
    text-align: right;
}


/* Formata o texto do paragrafo dentro do rodapé, deixando-o sem margem para alinhar ao centro sem erro e diminuindo a fonte padrão */

footer p {
    margin: 0;
    font-size: .9em;
}