
/********************************
*** CONFIGURAÇÕES DE CONTEÚDO ***
********************************/
/* Ajusta a seção de introdução para alinha o texto no centro*/
.introducao {
    text-align: center;
}

/* Ajusta a lista de tags para dividi-las em 8 colunas, não aparecer a bolinha e retirar espaços */
.secao-html5 .html5-lista {
    column-count: 7;
    list-style: none;
}

/* Cria margem entre os tópicos da lista e alinha ao centro */
.secao-html5 .html5-lista .html5-lista-item {
    margin-bottom: 10px;
    text-align: center;
}

/* Cria preenchimento para aumentar a area de clique do link e adiciona borda */
.secao-html5 .html5-lista .html5-lista-item a code {
    padding: 1px 10px;
    border: 1px solid;
    font-size: 1.1em;
}

.secao-html5 .html5-lista .html5-lista-item a {
    padding: 0 10px 3px 10px;
}

/* Modifica as configurações dos tópicos de tags quando o mouse passa por cima */
.secao-html5 .html5-lista .html5-lista-item code:hover {
    background-color: #000;
    color: #fff;
    transition: .5s;
    border: none;
}

