/* Importa fontes de origem externa para usarmos no projeto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;900&family=Noto+Serif+JP:wght@200;300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

/* Define a paleta de cores em variáveis */
:root {
    --black: #393e46;
    --main: #00adb5; 
    --hover: #aad8d3;
    --bg: #eeeeee;
}

/* Reseta as configurações de todos os elementos do HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--black);
    font-family: 'Noto Sans JP', serif;
}

/*****************************
**** CONFIGURAÇÕES GERAIS ****
******************************/
/* Define a fonte padrão para títulos */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/* Define o tamanho e fonte para os textos comuns */
body, p, a, li, span, label {
    font-size: 1em;
    font-weight: 300;
}

/* Cria um preenchimento (respiro) abaixo dos elementos para que não fiquem muito juntos*/
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: .5em;
}

/* GRID GERAL DE TODO O CONTEÚDO */
.grid-container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-areas: 
    "header header  header  header  header  header"
    "aside  main    main    main    main    main"    
    "aside footer  footer  footer  footer  footer";
}

/* CABEÇALHO */
/* Ajusta a posição do <header> e seus elementos */
.header {
    grid-area: header;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: linear-gradient(-145deg, var(--main), var(--hover));
    box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
    position: fixed;
    width: 100%;
}
.header .logo {
    font-family: "Molle", serif;
    font-size: 2em;
    color: #fff;
}
/* Ajusta os itens do menu da <header> */
.header-nav.menu {
    display: flex;
    justify-content: space-evenly;
}
/* Ajusta o espaço entre os elementos */
.header-nav.item + .header-nav.item {
    margin-left: 30px;
}
/*Ajusta os links na barra superior */
li.header-nav.item a {
    padding: 5px 30px;
    color: #fff;
    border: 1px solid;
    border-radius: 50px;
    transition: .3s;
}
/* Ajusta os links na barra superior quando o mouse passar por cima */
li.header-nav.item a:hover {
    padding: 5px 30px;
    color: var(--main);
    border: 1px solid;
    background: #fff;
}
/* Esconde o menu hamburguer para telas maiores que 768px (definido depois na @media) */
.menu-hamburguer {
    display: none;
}

/* ASIDE */
/* Posicionamento do aside */
.aside {
    grid-area: aside;
    overflow-y: scroll !important;
    padding: 15px;
    position: fixed;
    margin-top: 5.25%;
    height: 89vh;
}
/* Espaçamento de itens do aside */
.aside-nav .aside-group-items {
    margin-bottom: .5em;
}

/*CONTEÚDO PRINCIPAL*/
.main {
    grid-area: main;
    padding: 60px 30px;
    max-width: 1200px;
}

.main section {
    padding: 60px 0 0 0;
}

.inline-tag {
    background: #efefef;
    border-radius: 5px;
    padding: 0 10px;
}

/* FOOTER */
.footer {
    grid-area: footer;
    padding: 15px;
    text-align: center;
    background: linear-gradient(90deg, var(--main), 5%, var(--black), 90%, var(--main));
}

.footer p {
    font-size: .8em;
    color: #fff;
    margin: 0;
}